<h1>Daily dishes</h1>
	
<p>
  <% @products.each do |product| %>
  <li><%= link_to product.name, "sheltered-stream-93214.herokuapp.com/#/main/products/#{product.id}" %></li>
  <%end%>
</p>

<p>
<h3><%= link_to "Unsubscribe", @unsubscribe_url%></h3>
</p>
 